
.main_activities_container {
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px calc((100% - (500px * 5)) / 2);
}

.activityContainer {
    width: fit-content;
    height: fit-content;
    max-width: 162px;
    max-height: 240px;
    background-size:cover;
    background-color: rgba(240, 248, 255, 0);
    backdrop-filter: blur(5px) contrast(0.9) saturate(20%);
    border-top: 4px rgba(56, 56, 56, 0.5); 
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style:double;
    border-radius: 1%;
    margin-left:0.2rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom:1.5%;
    transition: transform 0.4s ease-in-out;
}

.mainActivityContainer {
        width: fit-content;
        height: fit-content;
        max-width: 162px;
        max-height: 240px;
        background-size:cover;
        background-color: rgba(0, 136, 255, 0.3);
        backdrop-filter: blur(5px) contrast(0.9) saturate(20%);
        border-top: 4px rgba(56, 56, 56, 0.5); 
        border-left: 0px;
        border-right: 0px;
        border-bottom: 0px;
        border-style:double;
        border-radius: 1%;
        margin-left:0.2rem;
        margin-right: 0rem;
        margin-bottom: 1.5rem;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom:1.5%;
        transition: transform 0.4s ease-in-out;
}

.activityContainer:hover {
    border-top: 4px rgb(0, 132, 255); 
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style:double;
    border-radius: 1%;

}

.activity__name {
    font-size: 26px;
    margin-top: 3%;
}

.difficulty {
    font-size: 15px;
    margin-top: -5%;
    margin-bottom: -18%;
}
.difficulty_stars {
    margin-top: -10%;
    margin-bottom: -3%;
}


.go_home {
    float: left;
    margin-top: 2%;
    margin-left: -38%;
    position:absolute
}

.add_activity_button {
    height: 25%;
    margin-top: 55%;
    margin-bottom: 55%;
    cursor:pointer;
}
.add_activity_button_small {
    height: 11px;
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 3%;
    cursor:pointer;
}

.add_activity_container {
    margin-left:0.2rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom:1.2%;
    width: 162px;
    height: 240px;
    border-top: 4px rgba(56, 56, 56, 0.5); 
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-style:double;
    border-radius: 1%;
    backdrop-filter: blur(5px) contrast(0.9) saturate(20%);
}

.add_activity_container:hover {
    border-top: 4px rgb(0, 132, 255); 
    background-color: rgba(255, 255, 255, 0.15);
    border-style:double;
    border-radius: 1%;
}

.country_icon {
    background-size:cover;
    width: 30px;
    padding-left: 2px;
    padding-right: 2px;
    height: 20px;
}
