.header {
    margin-top: 0%;
    backdrop-filter: blur(50px);
}
hr { 
    background-color: rgba(195, 195, 195, 0.403); 
    height: 1px; 
    border-radius: 50%; 
    border: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.container {
    /* margin-top: 1%; */
    margin-top: 5%;
    margin-bottom: 5%;
    width: 35%;
    height: 35%;
    border-radius: 0%;
    padding-bottom: 20px;
    backdrop-filter: blur(50px) contrast(0.9);
    margin-left: 30%;
    margin-right: 30%;
    border-style: double;
    border-color: rgb(149, 149, 149);
    
}

.go_home_button {
    background-color: rgba(78, 78, 78, 0.1);
    border-radius:100px;
    border-style:solid;
    border-width: 1px;
    border-color: grey;
    color: rgb(43, 112, 146);
    outline:none;
    text-align: center;
    cursor:pointer;

}


.countrydetail_div {
    background-color: rgba(255, 255, 255, 0.229);
    border: 4px rgba(249, 249, 249, 0.1); 
}

.countrydetail_flag {
    
    width: 35%;
    height: 40%;
    max-height: 100px;
    border: 4px rgba(249, 249, 249, 0.1); 
    border-style:solid;
    object-fit:cover;
    box-shadow:0px 5px 10px rgba(0,0,0,1);
    transition: transform 2s ease-in-out;
    opacity: 80%;

}

.countryname_small_detail {
    color:rgb(38, 20, 96, 1);
    font-size: 15px;
    margin: 1rem;
    position:relative;
    top:2%;
}
.countryname_detail {
    position:relative;
    top:5%;
    color:rgb(38, 20, 96);
    font-size: 25px;
    text-decoration:none;
}

.Activities {
    background-color: rgba(255, 255, 255, 0.229);
}

.activity_name {
    margin-left: 1%;
    margin-right: 1%;
    color: white;
}


.navigator_detail {
    padding-top: 18px;
    padding-bottom: 5px;
}
.navBoton_detail {
    margin-right: 20%;
    margin-left: 19%;
    background-color: rgba(78, 78, 78, 0);
    border-style:none;
}

.hidden_navBoton_detail {
    margin-right: 20%;
    margin-left: 19%;
    opacity: 25%;
    background-color: rgba(78, 78, 78, 0);
    border-style:none;
    pointer-events: none;
}