.header {
    margin-top: 0%;
    backdrop-filter: blur(50px);
}
hr { 
    background-color: rgba(195, 195, 195, 0.403); 
    height: 1px; 
    border-radius: 50%; 
    border: 0;
    margin-left: 2%;
    margin-right: 2%;
}

.container {
    width: fit-content;
    height: fit-content;
    margin-top: 1%;
    margin-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 0%;
    padding-bottom: 20px;
    backdrop-filter: blur(50px) contrast(0.9);
    margin-left: auto;
    margin-right: auto;
    border-style: double;
    border-color: rgb(149, 149, 149);
    
}

.go_home_button {
    background-color: rgba(78, 78, 78, 0.1);
    border-radius:100px;
    border-style:solid;
    border-width: 1px;
    border-color: grey;
    color: rgb(43, 112, 146);
    outline:none;
    text-align: center;
    cursor:pointer;

}

.countrydetail_div {
    background-color: rgba(255, 255, 255, 0.229);
    border: 4px rgba(249, 249, 249, 0.1); 
}

.countrydetail_flag {
    width: 35%;
    height: 40%;
    max-height: 100px;
    border: 4px rgba(249, 249, 249, 0.1); 
    border-style:solid;
    object-fit:cover;
    box-shadow:0px 5px 10px rgba(0,0,0,1);
    transition: transform 2s ease-in-out;
    opacity: 80%;
}

.countryname_small_detail {
    color:rgb(38, 20, 96, 1);
    font-size: 15px;
    margin: 1rem;
    position:relative;
    top:2%;
}

.countryname_detail {
    position:relative;
    top:5%;
    color:rgb(38, 20, 96);
    font-size: 25px;
    text-decoration:none;
}

.Activities {
    background-color: rgba(255, 255, 255, 0.01);
}

.activity_name {
    justify-content: space-evenly; 
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 1.2%;
    padding-left: 3%;
    padding-right: 3%;

}

.small_more {
    font-size: 12px;
    margin-left: 60%;
}

.small_addmore {
    font-size: 12px;
}

.addmore {
  background-color: rgb(61, 61, 61, 0.2);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 2%;
  max-width: 100px;
  min-height: 20px;
  outline: none;
  overflow: hidden;
  padding-left: 2%;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  width: 50%;
}

.addmore:hover,
.addmore:focus {
  opacity: .75;
}

.activity_name:hover {
    transform: scale(1.2, 1.2);
}

.activitiesxcountry_container {
    margin-bottom: 2%;
    justify-content: space-evenly;
    display: flex;
}


.navigator_detail {
    justify-content: space-evenly; 
    padding-top: 1%;
    margin-top: 1%;
    font-size: 30px;
}
.navBoton_detail {
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgba(78, 78, 78, 0);
    border-style:none;
}

.hidden_navBoton_detail {
    margin-right: 10%;
    margin-left: 10%;
    opacity: 25%;
    background-color: rgba(78, 78, 78, 0);
    border-style:none;
    pointer-events: none;
}